[Unit]
Description=Minikube Service
After=network.target

[Service]
ExecStart=/etc/kubernets-docker/minikube-create.sh
ExecStop=/etc/kubernets-docker/minikube-delete.sh
Type=OneShot
User=servidor4

[Install]
WantedBy=multi-user.target
