[Unit]
Description=Runs minikube service on start.

[Service]
ExecStart=/etc/kubernets-docker/minikube-start.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target