SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="08:00:27:00:06:00", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="enp0s3", NAME="eth0"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="08:00:27:00:06:01", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="enp0s8", NAME="eth1"